.cards {
    display: flex;
    flex-wrap: wrap;
    float: left;
    /* justify-content: space-between; */
    clear: both;
    border-radius: .25rem;
    border: 1px solid rgb(29, 94, 45);
    background: rgb(134, 240, 190);
    padding: 10px;
    width: 90%
}